* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: bisque;
}
.main-box {
  display: flex;
  justify-content: center;
}
.left-box {
  padding-left: 150px;
}
.right-box {
  padding-left: 50px;
}
.starterheader {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 30px 10px 30px;
}
.downloadstarterbox {
  font-size: 25px;
  border-radius: 10px;
  border: 1px solid rgb(189, 187, 187);
  height: 250px;
  width: 500px;
  background-color: rgb(187, 150, 137);
}
.downloadstarterbox p {
  padding: 10px 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.buttonstater {
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  color: white;
  background-color: blue;
  cursor: pointer;
  transition: 0.3s;
}
.buttonstater:hover {
  background-color: rgb(238, 101, 77);
  color: rgb(3, 3, 3);
}
.button-left {
  padding: 10px 30px;
}
.button-right {
  padding: 10px 30px;
}
.button {
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  color: rgb(241, 235, 235);
  background-color: gray;
  cursor: pointer;
  transition: 0.3s, 0.3s;
}
.button:hover {
  background-color: rgb(170, 71, 71);
  color: rgb(5, 5, 5);
}
