* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 235, 210);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-section {
  width: 320px;
  height: 75px;
  border: 1px solid rgb(207, 53, 53);
  border-radius: 10px;
  background-color: rgb(207, 53, 53);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-side {
  padding: 10px 10px 10px 20px;
}
.text {
  color: rgb(223, 210, 210);
  font-size: 15px;
}
.amount {
  color: white;
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

.bottom-section {
  width: 320px;
  height: 300px;
  border: 1px solid rgb(240, 232, 232);
  border-radius: 10px;
  background-color: white;
}
.top p {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 10px 10px 20px;
}
.week {
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.day {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mon {
  width: 30px;
  height: 35px;
  border: 1px solid rgba(240, 114, 114, 0.959);
  background-color: rgba(240, 114, 114, 0.959);
  border-radius: 5px;
}
.tue {
  width: 30px;
  height: 70px;
  border: 1px solid rgba(240, 114, 114, 0.959);
  background-color: rgba(240, 114, 114, 0.959);
  border-radius: 5px;
}
.wed {
  width: 30px;
  height: 100px;
  border: 1px solid rgb(108, 127, 161);
  background-color: rgb(108, 127, 161);
  border-radius: 5px;
}
.thr {
  width: 30px;
  height: 65px;
  border: 1px solid rgba(240, 114, 114, 0.959);
  background-color: rgba(240, 114, 114, 0.959);
  border-radius: 5px;
}
.fri {
  width: 30px;
  height: 45px;
  border: 1px solid rgba(240, 114, 114, 0.959);
  background-color: rgba(240, 114, 114, 0.959);
  border-radius: 5px;
}
.sat {
  width: 30px;
  height: 85px;
  border: 1px solid rgba(240, 114, 114, 0.959);
  background-color: rgba(240, 114, 114, 0.959);
  border-radius: 5px;
}
.sun {
  width: 30px;
  height: 55px;
  border: 1px solid rgba(240, 114, 114, 0.959);
  background-color: rgba(240, 114, 114, 0.959);
  border-radius: 5px;
}
.line {
  border-top: 1px solid rgb(224, 140, 140);
  margin-right: 20px;
  margin-left: 20px;
}
.bottom {
  display: flex;
  align-items: center;
  padding: 20px;
}
.bottom-left-text {
  font-size: 15px;
  color: rgb(212, 126, 126);
}
.bottom-left-amount {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
}
.bottom-right {
  padding-left: 50px;
  padding-top: 15px;
}
.bottom-right-amount {
  padding-left: 80px;
  font-weight: bold;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.bottom-right-text {
  padding-left: 30px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(187, 121, 121);
}
